.toaster-message {
    padding: 8px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    text-align: justify;
    animation: fadeOut 2s ease var(--close-timeout) forwards;
}

.toaster-message:hover {
    animation: none;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.toaster-message__text {
    padding: 2px;
}